/*/ Estilos Generales /*/
$colorlogo:orangered;
$map: (
    boton1: orange, 
    boton2: blue,
    boton3: white
);

$colores: (
    instragram: orange,
    facebook: blue,
    telegram: white
);


@each $name, $bgcolor in $map {
    .bc--#{$name} {
        background-color: $bgcolor;
        border-radius: 50%;
        padding: 10px;
        margin: 10px;
    }
}

@each $name, $bgcolor in $map {
    .bc--#{$name}:hover {
    color:red;
    }
}

nav {
    display: flex;
    align-items: end;
}

a {
    color: inherit;
}

nav {
    ul {
        li {
            display: inline-block;
            display: flex;
            text-align: end;
        }
    }
}

.Logo {
    width: 200px;
    border-radius: 50%;
}

body {
    font-family: "Sedan SC";
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0D602;
}

footer {
    ul {
        li {
            text-decoration: none;
            list-style: none;
            display: inline-block;
            text-align: center;
            text-shadow: 2px 2px 5px black, -2px -2px 5px white;
            text-decoration: underline;
        }
    }
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
}


.derechos {
    text-shadow: 2px 2px 5px black, -2px -2px 5px white;
    text-decoration: underline;
    text-align: center;
}

.colorboton {
    color: #fff;
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 3px;
    border: 2px solid white;
}

.nav-link.colorboton:hover {
    background-color: $colorlogo;
}

.fondo-fade-linear {
    background: linear-gradient(to bottom, #7c7801, orangered);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulos{
    text-align: center;align-items: center; justify-content: center;
}

/*/ Medias/*/

@media only screen and (max-width: 990px) {
    .Logo{
        height: 200px;
        padding: 50px;
    }
    header{
    align-items: center;
    }
    /*/media de productosyservicios/*/
    .grid {
        display: flex;
        flex-direction: column;
    }

    .descripcion {
        width: 75%;
    }

    .producto {
        width: 70%;
    }


    /*/media de contacto/*/
    .formulario {
        display: flex;
        flex-direction: column;
    }

    .iframe{
        width: 90%;
        padding-top: 20px;
    }
}
