@charset "UTF-8";
/* Estilos de index */
.Titulo {
  text-align: center;
  text-decoration: underline;
}

.FotoIndex {
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 25%;
  border: 3px solid black;
}

.parrafo {
  text-align: center;
}

/* Estilos de QuienesSomos*/
.quienesomosmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.parrafostaff {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotogrupodetrabajo {
  max-width: 800px;
  height: auto;
  width: 90%;
  margin: 0 auto;
  display: block;
  border-radius: 25%;
  border: 2px solid black;
}

/* Estilos de productosyservicios*/
.grid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.producto {
  height: 50%;
  display: flex;
  justify-content: center;
  border-radius: 15%;
  border-style: double;
  border-width: 2px;
  border-color: black;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descripcion {
  text-align: center;
}

/*/Estilos de nuestrosClientes/*/
.carouseltamaño {
  max-width: 700px;
  margin: auto;
}

.fotoclientes {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  padding: 20px;
}

.texto {
  text-align: center;
  padding: 50px;
  justify-content: center;
}

/*/Estilos de contacto/*/
textarea {
  resize: none;
}

.formulario {
  display: inline-block;
  padding: 20px;
}

label {
  text-decoration: underline;
}

iframe {
  width: 500px;
  height: 400px;
}

/*/ Estilos Generales /*/
.bc--boton1 {
  background-color: orange;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.bc--boton2 {
  background-color: blue;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.bc--boton3 {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.bc--boton1:hover {
  color: red;
}

.bc--boton2:hover {
  color: red;
}

.bc--boton3:hover {
  color: red;
}

nav {
  display: flex;
  align-items: end;
}

a {
  color: inherit;
}

nav ul li {
  display: inline-block;
  display: flex;
  text-align: end;
}

.Logo {
  width: 200px;
  border-radius: 50%;
}

body {
  font-family: "Sedan SC";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E0D602;
}

footer ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  text-align: center;
  text-shadow: 2px 2px 5px black, -2px -2px 5px white;
  text-decoration: underline;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.derechos {
  text-shadow: 2px 2px 5px black, -2px -2px 5px white;
  text-decoration: underline;
  text-align: center;
}

.colorboton {
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 3px;
  border: 2px solid white;
}

.nav-link.colorboton:hover {
  background-color: orangered;
}

.fondo-fade-linear {
  background: linear-gradient(to bottom, #7c7801, orangered);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulos {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*/ Medias/*/
@media only screen and (max-width: 990px) {
  .Logo {
    height: 200px;
    padding: 50px;
  }
  header {
    align-items: center;
  }
  /*/media de productosyservicios/*/
  .grid {
    display: flex;
    flex-direction: column;
  }
  .descripcion {
    width: 75%;
  }
  .producto {
    width: 70%;
  }
  /*/media de contacto/*/
  .formulario {
    display: flex;
    flex-direction: column;
  }
  .iframe {
    width: 90%;
    padding-top: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
